*.bhc
*.meta
*.mvfrm
*.rsp
/New2DGame/Library/PackageCache/com.unity.burst@59eb6f11d242/.Runtime/hostlin
/New2DGame/Library/PackageCache/com.unity.burst@59eb6f11d242/.Runtime/hostmac
/New2DGame/Library
/New2DGame/.vs/New2DGame/copilot-chat
/New2DGame/Assets/AllAsset/Doctor_Pack02
/New2DGame/Assets/AllAsset/Pet Cats pack
/New2DGame/Assets/AllAsset/2D Fantasy Platformer Pack
/New2DGame/Assets/AllAsset/Asset1
/New2DGame/Assets/AllAsset/AssetUI
/New2DGame/Assets/AllAsset/Enemies
/New2DGame/Assets/AllAsset/Pixel Adventure
/New2DGame/Assets/SPUM
/New2DGame/Assets/SPin
/New2DGame/Assets/Undead Survivor
/New2DGame/.vs
New2DGame/.vsconfig
*.csproj
*.sln
